{% extends 'master.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
     
</head>
<body id="indexbody">
    <center>
    <form method="POST" action="" class="post-form" id="bookform">
    {% csrf_token %}
<br>
        <div class="form-group row" id="reg">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4"></div>
        <center> <h3>BOOKING</h3></center><br>
        </div>
   
<div class="grid-fluid ">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Your Name: </label>
        <div class="col-sm-4" id="bookformlabel">
            {{ form.username }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">E-Mail: </label>
        <div class="col-sm-4" id="bookformlabel">
            {{ form.email }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-4 col-lg-2"id="bookformlabel">
            {{ form.phone }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location:</label>
        <div class="col-sm-4 col-lg-2" id="bookformlabel">
            {{ form.location }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Destination:</label>
        <div class="col-sm-4 col-lg-2" id="bookformlabel">
            {{ form.destination }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">No.of Travelers:</label>
        <div class="col-sm-4 col-lg-2" id="bookformlabel">
            {{ form.num_travelers }}
        </div>
    </div>

    

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Staring Date:</label>
        <div class="col-sm-4 col-lg-2" id="bookformlabel">
          {{ form.sdate }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ending Date:</label>
        <div class="col-sm-4 col-lg-2" id="bookformlabel">
            {{ form.edate }}
        </div>
    </div>
   
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                    <p style="color:white">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div><br>
    <div class="form-group row">
   
        <div class="col-sm-4" id="btnid">
            <button class="btn btn-primary" id="gbtn">Submit</button>
        </div>
    </div>
  
</form>
</center>

   


<script src="{% static 'js/show.js' %}"></script>
    
</body>

</html>
{% endblock %}