
{% extends 'master.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="indexbody">

   
      <!-- <div id="bodydiv" class="col-sm-4 ">
        <h1>"TO <br><span >TRAVEL <br></span> IS TO <br><span>LIVE</span>"</h1>
    </div> -->


<div id="formdiv">

   <center> <form method="POST" class="post-form"
    action=" ">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-3 pb-1">
        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
        <!-- <span class="h1 fw-bold mb-0">V<span style="color:rgb(7, 241, 132);">O</span>YAGE</span> -->
       
      </div>
    
    <div class="container-fluid ">
        <span class="h1 fw-bold mb-0">V<span style="color:rgb(7, 241, 132);">O</span>YAGE</span><br><br>

    <h3>REGISTER</h3>
    <br>
    {% comment %} style="color: red; margin-left: 100px;" {% endcomment %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name: </label>
        <div class="col-sm-4" >
            {{ form.username }}
        </div>
        {% comment %} {% for messages  in usernameerror  %}
        <h6 >{{usernameerror}}</h6>              
        {% endfor %}<br> {% endcomment %}
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">E-Mail: </label>
        <div class="col-sm-4" >
            {{ form.email }}
        </div>
         
    </div>
   

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password: </label>
        <div class="col-sm-4 col-lg-2" id="desbox">
            {{ form.password }}
        </div>
       
    </div><br>
    <div class="form-group row col-sm-12">
    {% for messages  in messages  %}
    <h6 >{{messages}}</h6>              
     {% endfor %}
    </div>
    <div class="form-group row">
        {% comment %} <label class="col-sm-1 col-form-label"></label> {% endcomment %}
        <div class="col-sm-2" id="btnid">
            <center><button  class="btn btn-primary">Submit</button></center>
        </div>
    </div><br>
   
    <div>
        <p>Already have an account ?</p>
        <a id="logreg" href="/login">login</a>
        
    </div>
    <div><br>
    {% comment %} <button class="btn btn-lg btn-block btn-primary" style="background-color: #39b7dd;" id="gbtn"
    type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button> {% endcomment %}
    </div>

</div>
    </form></center>

</div>
<!-- <div id="bodydiv" class="col-sm-2 ">
    <h1>"TO <br><span >TRAVEL <br></span> IS TO <br><span>LIVE</span>"</h1>
</div> -->

    <script src="{% static 'js/show.js' %}"></script>

</body>
{% endblock %}
</html>
