body{
    background-color: rgb(226, 235, 235);
}
#indexbody{
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
   
}
.post-form{
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 2% 8%;
    display: inline-block;
    align-items: center;
    background-color: rgba(155, 147, 147, 0.3);
}
#bodydiv span{
    font-family: cursive;
}
#bodydiv h1{
    color: white;
    text-shadow: 0 0 3px skyblue, 0 0 3px skyblue;
}
.h1{
    font-size: 2rem;
    font-weight: bold;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* margin-bottom: 10px; */
}
.col-sm-2{
    width: fit-content;
}
#logreg{
    text-decoration: none;
}
.btn{
    color: black;
    background-color: white;
    
  
}
#btnid{
    /* margin-left: 20%; */
    align-self: center;
}
input{
    width: 200px;
    height: 25px;
}
#id_destination{
    width: 200px;
}
#id_location{
    width: 200px;

}
.grid-fluid{
    display: grid;
    grid-template-columns: auto auto ;
    gap:20px 50px;
}