/* ----------navbar---------- */

#navdiv{
    
    background-color: rgb(26, 26, 65);
   
    margin-top: -10px;
    padding-left: 2%;
}
#navdiv a{
    color: white;
    
}
#navdiv button{
    color: white;
    background-color: white;
}

/* ----------navbar---------- */

/* ----------navbar2---------- */


#socialmedia{
    padding-left: 20%;
}
#secondnov{
    padding-left: 25%;
}
#firstsearch input{
    height: 35px;
    width: 150px;
    margin-bottom: 8px;
}
#firstsearch button{
    height: 35px;
    width: 100px;
    margin-bottom: 8px;
    /* margin-left: 10px;
    margin-top: 12px; */
    
    
}
#voyage{
    padding-left: 10%;
    font-weight: bolder;
    font-size: xx-large;
    
}

/* ----------navbar2---------- */

/* ---------------------footer---------------------- */

#footer{
    display: flex;
    float: left;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: solid #f8f8f8;
}
#footer1{
    width: 15%;
    margin-left: 10%;
}
#footer h4{
    color: aqua;
}
#footer img{
    width: 25px;
    height: 25px;
}
/* #footer2 img,p{
    display: flex;
    float: left;
} */
#footer2{
    width: 15%;
    margin-left: 7%;
}
#footer3{
    width: 15%;
    margin-left: 7%;
}
#footer3 span{
    border: solid #fff;
    margin-left: 2px;
    margin-bottom: 5px;
    display: inline-block;
    /* min-width: 20px; */
    padding-left: 2px;
    padding-right: 2px;
}
#footer4{
    width: 15%;
    margin-left: 7%;
    
}
#footer4 span{
    color: #00DDEB;
}
#footer p{
    margin-bottom: 2px;
}
#footer4icon ul{
    overflow: hidden;
    flex-direction: row;
    margin-top: -25px;
}
#footer4icon li{
    float: left;
   
}
#footer4icon li a{
    display: inline;
    min-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ---------------------footer---------------------- */


/* -----------------------footer2---------------------- */

#footer5 {
    
    /* height: 5%; */
    text-align: center;
    /* background-color: rgb(6, 212, 202); */
    background-color:  rgb(26, 26, 65)  ;
    bottom: 0;
}
#footer5 span,#p{
    color: #fff;
}
/* -----------------------footer2---------------------- */